/* Dynamic Theme */
@import "colors.css";

/* General Styles */
* {
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 1em;
  color: @foreground;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: transparent;
}

#custom-menu,
#custom-player,
#custom-cava,
#workspaces,
#window,
#language,
#clock,
#wireless,
#hardware,
#telementry {
  background: @background;
}

#workspaces button:hover {
  border-radius: 8px;
  background: inherit;
}

#workspaces,
#window,
#language,
#hardware,
#telementry,
#clock,
#custom-player,
#custom-menu,
#custom-cava {
  border-radius: 8px;
}

#window {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 3px;
}

#language {
  border-radius: 8px 0 0 8px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 3px;
}

#hardware {
  border-radius: 0 8px 8px 0;
  padding-right: 0.2em;
}

#telementry {
  padding: 0 5px;
  margin-left: 3px;
}

#clock,
#custom-player {
  padding: 0 10px;
}

#custom-menu {
  font-size: 1.2em;
  padding-right: 0.8em;
  padding-left: 0.4em;
  margin-right: 3px;
}

#custom-battery {
  font-weight: normal;
  font-size: 1.2em;
}

#custom-player {
  margin-left: 3px;
}

#custom-cava {
  padding: 0 5px;
  margin-left: 3px;
}

/* Separator */
#custom-separator#space {
  color: @background;
}
