*,
*::before,
*::after {
	font-family: SF Pro Display;
}

hbox.titlebar-spacer,
.titlebar-buttonbox-container,
.tab-close-button,
#alltabs-button,
#page-action-buttons,
#tracking-protection-icon-container,
#firefox-view-button,
#customizableui-special-spring1,
#customizableui-special-spring2,
#identity-box {
    display: none !important;
}

#titlebar {
	z-index: 2;
}

.tabbrowser-tab {
	transition: min-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280), max-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280), height 0.1s ease !important;
	height: 100%;

	&[fadein]:not([pinned]) {
		max-width: 175px !important;
	}

	&[selected]:not([pinned]) {
		min-width: 250px !important;
		max-width: 250px !important;
	}
}

:where(.tab-background) {
	box-shadow: none !important;
	border-radius: 10px !important;
}

#tabs-newtab-button {
	opacity: 0;
	transition: 0.2s opacity ease;
}

#navigator-toolbox:not(:hover, :focus-within, :has([open])) #nav-bar {
	transition-delay: 0.2s !important;
}

#navigator-toolbox:is(:hover, :focus-within, :has([open])) {
	#tabs-newtab-button {
		opacity: 1;
	}
}

#unified-extensions-view {
    --uei-icon-size: 16px;

    .unified-extensions-item {
        margin-block: 0 !important;
        border-radius: var(--arrowpanel-menuitem-border-radius) !important;

        > .unified-extensions-item-action-button {
        .unified-extensions-item-message-deck {
            display: none;
        }

        &:hover {
            background-color: initial !important;
        }
        }

        > .unified-extensions-item-menu-button {
        list-style-image: url("chrome://global/skin/icons/more.svg") !important;
        padding: 0 !important;

        > .toolbarbutton-icon {
            padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;
            border: none !important;
            opacity: 0;
        }

        &:hover {
            color: var(--button-primary-bgcolor) !important;

            > .toolbarbutton-icon {
            background-color: initial !important;
            }

            &:active {
            color: var(--button-primary-hover-bgcolor) !important;
            }
        }
        }

        &:hover {
        background-color: var(--panel-item-hover-bgcolor);

        > .unified-extensions-item-menu-button > .toolbarbutton-icon {
            opacity: 1;
        }
        }

        &:has(> .unified-extensions-item-action-button:not([disabled]):hover:active) {
        background-color: var(--panel-item-active-bgcolor);
        }
    }
}
